.tp-Content {
    width: 50%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.tp-ImageUploader {
    padding: 1em;
    margin: 0.5em;

    border: 1px dashed #888;
}

.tp-ImageUploader_DragAndDrop {
    padding: 1em;
    margin: 0.5em 0;

    background-color: rgba(220, 255, 220, 0.2);
    border: 2px dashed rgb(50, 200, 103);
    color: rgb(50, 200, 103);
    border-radius: 4px;
}

.tp-ImageUploader_UploadButton {
    display: block;
    margin-bottom: 0.5em;

    border-bottom: 1px solid #f88;
}

.tp-ImageUploader_File {
    display: none;
}

.tp-ImagePreviewer {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
}

.tp-ImagePreviewer_StrippedImage {
    flex: 1 1 70%;
    text-align: center;
    position: relative;
}

.tp-ImagePreviewer_ImageMapContainer {
    flex: 1 1 30%;
    position: relative;
}

.tp-ImagePreviewer_ImageMapBase {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.tp-ImagePreviewer_ImageMapSelector {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.tp-ImagePreviewer_Canvas {
}
