.tp-Content {
    width: 50%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.tp-ImageUploader {
    padding: 1em;
    margin: 0.5em;

    border: 1px dashed #888;
}

.tp-ImageUploader_DragAndDrop {
    padding: 1em;
    margin: 0.5em 0;

    background-color: rgba(220, 255, 220, 0.2);
    border: 2px dashed rgb(50, 200, 103);
    color: rgb(50, 200, 103);
    border-radius: 4px;
}

.tp-ImageUploader_UploadButton {
    display: block;
    margin-bottom: 0.5em;

    border-bottom: 1px solid #f88;
}

.tp-ImageUploader_File {
    display: none;
}

.tp_ImagePreviewer {
    text-align: center;
}
